/* ================= FOOTER =================== */

.footer {
    background: var(--bg-surface);
    padding: 40px 20px 20px;
    margin-top: 60px;
    box-shadow: var(--shadow-md);
}

.footer-container {
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* LEFT */
.footer-about h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-primary);
}

.footer-about p {
    margin-top: 8px;
    color: var(--text-muted);
    line-height: 1.6;
    max-width: 270px;
}

/* MIDDLE */


.footer-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--neutral-dark);
}

.footer-links a {
    display: block;
    margin-bottom: 8px;
    color: var(--text-muted);
    text-decoration: none;
    font-size: 15px;
}

.footer-links a:hover {
    color: var(--color-primary);
}

/* RIGHT */
.footer-contact h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--neutral-dark);
}

.footer-contact p {
    margin-bottom: 8px;
    color: var(--text-muted);
}

/* BOTTOM */
.footer-bottom {
    text-align: center;
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px solid var(--border);
    font-size: 14px;
    color: var(--text-muted);
}

/* RESPONSIVE */
@media (max-width: 850px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-about p {
        margin: auto;
    }
}